doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" 
        integrity="sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" href="stylesheets/stylesheet.css")
        title Samuel Murillo&#39;s GitHub
    body
        header
            nav#navigation-menu.grey.darken-2.z-depth-2
                .container
                    .nav-wrapper
                        a(onclick="$('.button-collapse').sideNav('show');").hide-on-large-only
                            i.material-icons.left menu
                                
                        a.brand-logo(href="#section-home") Logo
                        
                        ul.right.hide-on-med-and-down
                            li
                                a(href="#section-about-me") 
                                    i.material-icons.left.teal-icons account_circle
                                    | About me
                            li
                                a(href="#section-projects") 
                                    i.material-icons.left.teal-icons desktop_windows
                                    | Projects
                            li
                                a(href="#section-contact-me")
                                    i.material-icons.left.teal-icons mail
                                    | Contact me
                                
                        ul#slide-out.side-nav.grey.darken-2
                            li
                                .bg-overlay-info
                                    img(src="" alt="logo")
                                    h5.white-text Samuel Murillo
                                    .divider
                            li
                                a(href="#section-about-me") 
                                    i.material-icons.left.teal-icons account_circle
                                    span.white-text About me
                            li
                                a(href="#section-projects") 
                                    i.material-icons.left.teal-icons desktop_windows
                                    span.white-text Projects
                            li
                                a(href="#section-contact-me")
                                    i.material-icons.left.teal-icons mail
                                    span.white-text Contact me
                        a(href="#" data-activates="slide-out").button-collapse
                            i.mdi-navigation-menu
        .container
            section#section-home
                .row
                    #main-card.card.small.grey.darken-2.col.s12.white-text.z-depth-2.center-align
                        h1.animated.fadeInUp Samuel Murillo
                        h4.animated.fadeInUp Backend Developer
            section#section-about-me
                .row
                    .panel-card.small.grey.col.s12.darken-2.white-text.z-depth-2
                        h4.title
                                i.material-icons.teal-icons info_outline
                                span  About me
            .row
                .col.s12
                    .card.grey.darken-2
                        .card-content.white-text
                            span.card-title 
                                i.material-icons.teal-icons account_circle
                                span  Myself
                            p Culpa dolore ad consequat elit nisi eu elit nulla esse eu. Id labore do incididunt anim ut nostrud. Commodo aliqua laborum culpa ea fugiat quis nisi dolore dolore cupidatat.
                .col.s12.m6
                    .card.grey.darken-2
                        .card-content.white-text
                            span.card-title 
                                i.material-icons.teal-icons school
                                span  Studies
                            p Culpa dolore ad consequat elit nisi eu elit nulla esse eu. Id labore do incididunt anim ut nostrud. Commodo aliqua laborum culpa ea fugiat quis nisi dolore dolore cupidatat. Cillum ut non fugiat amet sunt deserunt aute do duis ullamco deserunt occaecat minim incididunt. Id commodo culpa cupidatat deserunt occaecat exercitation sit ex nisi nulla velit in mollit. Laboris id qui eiusmod ea. Eu nostrud quis id nostrud officia commodo sunt tempor consectetur sint non officia. Eu cupidatat ex dolor aliqua non qui Lorem pariatur eu nisi. Sunt cillum do dolor incididunt duis. Magna ex officia cillum eiusmod nostrud exercit
                .col.s12.m6
                    .card.grey.darken-2
                        .card-content.white-text
                            span.card-title
                                i.material-icons.teal-icons assessment
                                span  Skills
                            p Culpa dolore ad consequat elit nisi eu elit nulla esse eu. Id labore do incididunt anim ut nostrud. Commodo aliqua laborum culpa ea fugiat quis nisi dolore dolore cupidatat. Cillum ut non fugiat amet sunt deserunt aute do duis ullamco deserunt occaecat minim incididunt. Id commodo culpa cupidatat deserunt occaecat exercitation sit ex nisi nulla velit in mollit. Laboris id qui eiusmod ea. Eu nostrud quis id nostrud officia commodo sunt tempor consectetur sint non officia. Eu cupidatat ex dolor aliqua non qui Lorem pariatur eu nisi. Sunt cillum do dolor incididunt duis. Magna ex officia cillum eiusmod nostrud exercit
            section#section-projects
                .row
                    .panel-card.small.grey.col.s12.darken-2.white-text.z-depth-2
                        h4.title 
                            //i.material-icons dashboard
                            i.material-icons.teal-icons desktop_windows
                            span  Projects
            .row        
                .showcase.col.s12.m6
                    .card.grey.darken-2.white-text.z-depth-2
                        .card-image.waves-effect.waves-block.waves-light
                            img.activator(src="https://placehold.it/300x200")
                        .card-content
                            span.card-title.activator.grey.darken-2
                                | Project 1
                                i.material-icons.right more_vert
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 
                        .card-reveal.grey.darken-2
                            span.card-title
                                | Project 1
                                i.material-icons.right close
                            p Aenean dictum est molestie.
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 

                .showcase.col.s12.m6
                    .card.grey.darken-2.white-text.z-depth-2
                        .card-image.waves-effect.waves-block.waves-light
                            img.activator(src="https://placehold.it/300x200")
                        .card-content
                            span.card-title.activator.grey.darken-2
                                | Project 2
                                i.material-icons.right more_vert
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link  
                        .card-reveal.grey.darken-2
                            span.card-title
                                | Project 2
                                i.material-icons.right close
                            p Aenean dictum est molestie.  
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 

                .showcase.col.s12.m6
                    .card.grey.darken-2.white-text.z-depth-2
                        .card-image.waves-effect.waves-block.waves-light
                            img.activator(src="https://placehold.it/300x200")
                        .card-content
                            span.card-title.activator.grey.darken-2
                                | Project 3
                                i.material-icons.right more_vert
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 
                        .card-reveal.grey.darken-2
                            span.card-title
                                | Project 3
                                i.material-icons.right close
                            p Aenean dictum est molestie.   
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 

                .showcase.col.s12.m6
                    .card.grey.darken-2.white-text.z-depth-2
                        .card-image.waves-effect.waves-block.waves-light
                            img.activator(src="https://placehold.it/300x200")
                        .card-content
                            span.card-title.activator.grey.darken-2
                                | Project 4
                                i.material-icons.right more_vert
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 
                        .card-reveal.grey.darken-2
                            span.card-title
                                | Project 4
                                i.material-icons.right close
                            p Aenean dictum est molestie.
                            p
                                a(href="#").waves-effect.waves-light.btn.z-depth-2
                                    i.fa.fa-github.white-text 
                                    |  This is a link 
        
            section#section-contact-me
                .row
                    .panel-card.small.grey.col.s12.darken-2.white-text.z-depth-2
                        h4.title 
                            i.material-icons.teal-icons mail
                            span  Contact me

            .row
                .col.s12
                    .card.grey.darken-2
                        .card-content.white-text
                            p Culpa dolore ad consequat elit nisi eu elit nulla esse eu. Id labore do incididunt anim ut nostrud. Commodo aliqua laborum culpa ea fugiat quis nisi dolore dolore cupidatat.
            
        footer.page-footer.grey.darken-3
            .footer-copyright.grey.darken-3
                .container
                    #copyright.left © 2016 Copyright Text
                    #footer-icons
                        a.grey-text.text-lighten-4(href="https://github.com/SamuelM333" target="_blank")
                            i.fa.fa-github.fa-2x.white-text 
                        |   
                        a.grey-text.text-lighten-4(href="https://gitlab.com/u/samuelmurillo" target="_blank")
                            i.fa.fa-gitlab.fa-2x.white-text 
                        |  
                        a.grey-text.text-lighten-4(href="https://www.linkedin.com/in/samuel-murillo-249547123" target="_blank")
                            i.fa.fa-linkedin-square.fa-2x.white-text 
                        |   
                        a(href="https://www.fiverr.com/samuelm333" target="_blank")
                            img(src="images/fiverr_logo.svg" id="fiverr")

        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
        script(src="jquery.malihu.PageScroll2id.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
        script(type="text/javascript" src="javascripts/main.js")
