$grey-darken-3: #333
$teal: #26A69A

body
    background-color: $grey-darken-3

#main-card
    margin-top: 20px
    //height: 150%

div.bg-overlay-info h5
    padding-left: 15px

span.card-title i.material-icons
    //margin-top: 5px
    
.teal-text
    color: $teal !important
    
.title
    text-align: center
    
.btn
    background-color: $teal
    padding: 0 1rem

footer.page-footer
    padding-top: 0
    
#footer-icons
    text-align: right
    line-height: 50px
    width: auto
    height: 50px
    font-size: 15px
    padding-top: 0
    margin-top: 5px
    padding-right: 17px
    
#footer-icons a 
    height: 30px
    margin: 0 5px
    position: relative

#fiverr
    position: absolute
    top: -12px
    padding-right: 10px

#copyright
    position: relative
    top: -5px
    