$grey-darken-3: #424242
$teal: #26A69A

a
    //color: $teal

body
    background-color: $grey-darken-3

#main-card
    margin-top: 20px
    //height: 150%
    
#projects
    text-align: center
    
.btn
    background-color: $teal
    padding: 0 1rem
    
#footer-icons
    //bottom: 10%
    // <div style="text-align:right;line-height:50px;width:100%;height:50px;font-size:2em;">Text Content</div>
    text-align: right
    line-height: 50px
    width: 100%
    height: 50px
    font-size: 15px
    
    //display: inline !important
    
    
    
    